Sistema01/Web References/proveedors/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://edumatica.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://edumatica.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://edumatica.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSuma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSumaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadEmpleados">
        <s:complexType />
      </s:element>
      <s:element name="CantidadEmpleadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CantidadEmpleadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType />
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSumaSoapIn">
    <wsdl:part name="parameters" element="tns:GetSuma" />
  </wsdl:message>
  <wsdl:message name="GetSumaSoapOut">
    <wsdl:part name="parameters" element="tns:GetSumaResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadEmpleadosSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadEmpleados" />
  </wsdl:message>
  <wsdl:message name="CantidadEmpleadosSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSuma">
      <wsdl:input message="tns:GetSumaSoapIn" />
      <wsdl:output message="tns:GetSumaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input message="tns:GetEmployeeSoapIn" />
      <wsdl:output message="tns:GetEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadEmpleados">
      <wsdl:input message="tns:CantidadEmpleadosSoapIn" />
      <wsdl:output message="tns:CantidadEmpleadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://edumatica.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuma">
      <soap:operation soapAction="http://edumatica.org/GetSuma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://edumatica.org/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEmpleados">
      <soap:operation soapAction="http://edumatica.org/CantidadEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://edumatica.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://edumatica.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuma">
      <soap12:operation soapAction="http://edumatica.org/GetSuma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap12:operation soapAction="http://edumatica.org/GetEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEmpleados">
      <soap12:operation soapAction="http://edumatica.org/CantidadEmpleados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://edumatica.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:61123/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:61123/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>